.searchBar{
    display: flex;
    justify-content:space-between ;
    width: 100%;
    border: 1px solid grey;
    border-radius: 9px;
    width: 95%;
    height: 60px;
    background-color: #1E2A47;
    padding: 5px 15px 0px 15px;
    
}
.input-area{
    display: flex;
    align-items: center;
}
.search-place{
    width: 550px;
    height: 95%;
    background: transparent;
    margin: 20px;
    border: 0;
    font-size: 18px;
     outline:none;
     color: white;
}
.search-place::placeholder {
    color: white;
    opacity: 0.7; 
  }
.search-btn{
    width: 120px;
    height: 90%;
    border-radius: 9px;
    color: white;
    background-color: #0079ff;
    opacity: 0.8;
}