.searchBar{
    display: flex;
    justify-content:space-between ;
    border-radius: 9px;
    height: 60px;
    background-color: #1E2A47;
    padding: 10px 20px 8px 20px;
    width: 100%;
    transition: 1s;
}
.searchBarlight{
    display: flex;
    justify-content:space-between ;
    border-radius: 9px;
    height: 60px;
    background-color: white;
    padding: 10px 20px 8px 20px;
    width: 100%;
    color: black;
    box-shadow: 2px 2px 2px 2px grey;
    transition: 1s;
    
}

.input-area{
    display: flex;
    align-items: center;
}
.search-place{
    width: 80%;
    height: 95%;
    background: transparent;
    margin: 20px;
    border: 0;
    font-size: 18px;
     outline:none;
     color: white;
}
.search-placelight{
    width: 80%;
    height: 95%;
    background: transparent;
    margin: 20px;
    border: 0;
    font-size: 18px;
     outline:none;
     color: black;
     
}

.search-place::placeholder {
    color: white;
    opacity: 0.7; 
  }
  .search-placelight::placeholder {
    color: black;
    opacity: 0.7; 
  }
.search-btn{
    width: 120px;
    height: 90%;
    border-radius: 9px;
    color: white;
    background-color: #0079ff;
    
}
.search-btn:hover{
    background-color: #0d6bd6;
}
.search-btn:active{
    background-color: #0b65cc;
}
.errormessage{
    color: red;
    position: absolute;
    right: 12%;
}