.header{
    display: flex;
    justify-content: space-between;
    
}
.hleft{
    font-size: 24px;
    color: white;
    margin: 1%;
}
.hright{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: white;
    width: 13%;
    margin: 2%;
    
    
}

