.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 8px 7px 8px;
    
}
.hleft{
    font-size: 24px;
    color: white;
    margin: 1%;
}
.hleftlight{
    font-size: 24px;
    color: black;
    margin: 1%;
}

.hright{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.hrightlight{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.hrightlight p {
    color: black;
}
