@import url("./Assets/Styles/style.css");

@font-face {
  font-family: 'SpaceMonoRegular';
  src: url('./Assets/Fonts/Space_Mono/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'SpaceMonoBold';
  src: url('./Assets/Fonts/Space_Mono/SpaceMono-Bold.ttf');
}

.App {
  height: 100vh;
 
}
body{

  font-family: 'SpaceMonoBold';
  
}
p{
  margin: 0;
}