.Layout{
   display: flex;
   justify-content: center;
   color: white;
   background-color:var(--darkcolor) ;
   transition: 1s;
   min-height: 100vh;
  
}
.Layoutlight{
    display: flex;
    justify-content: center;
    color: black;
    background-color:var(--lightcolor) ;
    transition: 1s;
    min-height: 100vh;
 }
.wrapper{
    margin: 48px 16px;
    width: min(980px, 100%);
}